In [14]:
print'enter values:'
x=input()
y=input()
if x>y:
    print "x is greater than y by:",x-y
else:
    print"y is greater than x by:",y-x

enter values:
4
5
y is greater than x by: 1

In [16]:
cost =100
print'enter the product quantity:'
quan=input()
final_cost=cost*quan
if final_cost<1000:
    print'total cost:',final_cost

else:
    final_cost=final_cost-0.1*final_cost
    print'total cost:',final_cost

enter the product quantity:
12
total cost: 1080.0

In [17]:
print'enter your salary:'
sal=float(raw_input())
print'enter your years of service:'
yrs=input()
if yrs>5:
    bonus = 0.05*sal
    print 'your new salary is:',sal+bonus
else:
    print'your salary is:',sal

enter your salary:
50000.0
enter your years of service:
6
your new salary is: 52500.0

In [24]:
print'number of classes held:'
clh=input()
print'number of classes attended:'
cla=input()
percentage=(cla/float(clh))*100
if percentage>=75:
    print'u are allowed to sit'
else:
    print'u are not allowed'

number of classes held:
100
number of classes attended:
75
u are allowed to sit

In [11]:
print"enter the year to check:"
year=input()
if year%4==0 and year%100!=0:
    print'leap year!'

elif year%4==0 and year%100==0:
    if year%400==0:
            print'leap year!'
    else:      
            print'not a leap year'
            
else:
    print'not a leap year'

enter the year to check:
2000
leap year!

In [13]:
print"enter number"
num=input()

first_num=num/1000
rem=num%1000


second_num=rem/100
rem=rem%100


third_num=rem/10
fourth_num=rem%10

new_num=fourth_num*1000+third_num*100+second_num*10+first_num
print"new number is:",new_num

enter number
3576
new number is: 6753

In [4]:
from random import randint

print"enter the lower limit of the dice:"
a=input()
print"enter the upper limit of the dice:"
b=input()
print"print q to quit and enter to continue:"
while True:
    print'->->->'+str(randint(a,b))
    if raw_input()=='q':
        break;

enter the lower limit of the dice:
1
enter the upper limit of the dice:
6
print q to quit and enter to continue:
->->->2

->->->4

->->->6

->->->6

->->->5

->->->5

->->->4

->->->6

->->->3

->->->2
q

In [7]:
a=1
sum=0
while a<=10:
    print"enter numbers:"
    a=input()
    sum=sum+a
    a+=1
print"average is:",sum/10.0

enter numbers:
1
enter numbers:
2
enter numbers:
3
enter numbers:
4
enter numbers:
5
enter numbers:
6
enter numbers:
7
enter numbers:
8
enter numbers:
9
enter numbers:
10
average is: 5.5

In [ ]:
print'enter the number you want the table to be printed of:'
num=input()
a=1
while a<=10:
    print a*num
    a=a+1

enter the number you want the table to be printed of:

In [12]:
print"enter number whose factorial u want"
a=input()
fact=1
i=1

while i<=a:
    fact=fact*i
    i+=1
    
print"factorial is:",fact

enter number whose factorial u want
4
factorial is: 24

In [5]:
def prime(num):

    for n in range(2,num):
        if num%n==0:
            print"not prime"
            break
        else:
            print"prime"

In [6]:
prime(3)

prime

In [7]:
first = lambda x:x[0]

In [8]:
first('hello')

'h'

In [28]:
def fact(x):
    
    if x==1 or x==0:
        return 1
    
    else:
        return x*fact(x-1)

In [29]:
fact(5)

120

In [24]:
fact(4)

24

In [18]:
def factorial(x):
	if x==0 or x==1:
		return 1
	else:
		return x*factorial(x-1)

In [19]:
factorial(4)

24

In [30]:
#fibonacci using recursion
prev={0:0,1:1}

def fib(n):
    if prev.has_key(n):
        return prev[n]
    else:
        fi=fib(n-1)+fib(n-2)
        prev[n]=fi
        return fi

In [39]:
print fib(0) 
print fib(1)  
print fib(2)
print fib(3)
print fib(4) 
print fib(5)

0
1
1
2
3
5

In [1]:
class Circle(object):
    pi=3.14
    def __init__(self,radius):
        self.radius=radius
        
    def getArea(self):
        return Circle.pi*(self.radius**2)
    
    def getCircum(self):
        return 2*Circle.pi*self.radius

In [3]:
c=Circle(4)

In [5]:
c.getArea()

50.24

In [6]:
c.getCircum()

25.12

In [11]:
class Time(object):
    
    def __init__(self,mins,hrs):
        self.mins=mins
        self.hrs=hrs
        
    def addTime(self,t1,t2):
        t3=Time(0,0)
        if t1.mins+t2.mins>60:
            t3.hrs=(t1.mins+t2.mins)/60
            t3.hrs=t3.hrs+t2.hrs+t1.hrs
            t3.mins = (t1.mins+t2.mins)-(((t1.mins+t2.mins)/60)*60)
            return t3
    
    def displayTime(self):
        print"time is:",self.hrs,"hours and",self.mins,"minutes"
    
    def displayMinutes(self):
        return (self.hrs*60)+self.mins

In [12]:
t=Time('6','12')

In [13]:
t.displayTime()

time is: 12 hours and 6 minutes

In [14]:
t.displayMinutes()

'1212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212126'

In [22]:
a=Time(4,12)

In [23]:
b=Time(7,13)

In [27]:
c=Time(8,14)

In [29]:
d=Time.addTime(a,b,c)

In [34]:
c.displayTime()

time is: 14 hours and 8 minutes

In [36]:
#recursion
def power(a,b):
    if b==1:
        return a
    else:
        return a*power(a,b-1)

In [39]:
power(6,2)

36

In [1]:
name=input("enter name:")
age=int(input("enter age:"))

enter name:ishaan
enter age:21

In [4]:
print("%s is %d years old"%(name,age))

ishaan is 21 years old

In [13]:
item_dict={'item':'banana','cost':24}
print("The %(item)s costs %(cost)5.2f cents"%(item_dict))

The banana costs 24.00 cents

In [17]:
word_list = input("enter word list:").split(" ")

enter word list:ishaan is good

In [18]:
word_list

['ishaan', 'is', 'good']

In [19]:
letter_list=[]

In [20]:
for word in word_list:
    for letter in word:
        letter_list.append(letter)

In [21]:
letter_list

['i', 's', 'h', 'a', 'a', 'n', 'i', 's', 'g', 'o', 'o', 'd']

In [22]:
ch_list = [ch.upper() for ch in 'ishaan' if ch not in 'aeiou']

In [23]:
ch_list

['S', 'H', 'N']

In [26]:
lis = [ch.lower() for ch in 'NAKUL' if ch not in 'AEIOU']

In [27]:
lis

['n', 'k', 'l']

In [9]:
for i in range(0,3):
    print(i),

0
1
2

In [15]:
for i in range(10):
    print (i,end="")

0123456789

In [8]:
num = int(input())
for i in range(num):
    print(i**2,end=' ')

4
0 1 4 9

In [18]:
n=5
for i in range(1,n+1):
    print("*"*i)

*
**
***
****
*****

In [20]:
n=5
while n>0:
    print(("*")*n)
    
    n-=1

*****
****
***
**
*

In [39]:
 def add(*a):
    
        print(a)
        
a = (1,2)

In [40]:
add(a)

((1, 2),)

In [37]:
def add(*a,**b):
    print(a)
    print(b)
add(1,2,b=10,c=20)

(1, 2)
{'b': 10, 'c': 20}

In [43]:
def fact(n):
    if n<=1:
        return 1
    else:
        return n*fact(n-1)

In [44]:
fact(5)

120

In [5]:
def t():
    print("True")
    return False
def f():
    print("False")
    return True

t() and f()

True

False